extend layout
head
    script(type='text/javascript', src="/lib/codemirror.js")
    script(type='text/javascript', src="/mode/javascript/javascript.js")

block content
    div(class="large-12 columns")
        label
            | Code
            textarea#python-source
            | Description
            textarea#python-text


