extend layout
include mixins/utils
block content
    meta(http-equiv="refresh" content="5")
    script.
        gistData = #{ gistData };
    each i in gistData
        if i.truncated==false
            +gist(i)