doctype
html
  head
    title #{title} - Han's Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/codemirror/lib/codemirror.css')

    link(rel='stylesheet', href='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css')
    script(type='text/javascript', src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    script(type='text/javascript', src="/codemirror/lib/codemirror.js")
    script(type='text/javascript', src="/codemirror/python/python.js")


  body
    header
      div(class="fixed")
        nav(class="top-bar")
          div(class="top-bar-left")
            ul(class="menu")
              li(class="menu")
                a(href="/") hanwang.us
          div(class="top-bar-right")
            ul(class="menu")
              li
                a(href="/posts") Articles
              li
                a(href="/tutorials") Tutorial
              li
                a(href="/python") Python
              li
                a(href="/404") 888
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
        center
            | Powered by Express © 2018 Han Wang