doctype
html
  head
    title #{title} - Han's Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    link(rel='stylesheet', href='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css')
    script(type='text/javascript', src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
  body
    header

      div(class="fixed")
        nav(class="top-bar")
          div(class="top-bar-left")
            ul(class="menu")
              li(class="menu")
                a(href="/") hanwang.us
          div(class="top-bar-right")
            ul(class="menu")
              li
                a(href="/posts") Articles
              li
                a(href="/python") Python
              li
                a(href="420") 420
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Powered by Express © 2018 Han Wang