extends layout

body
    .script
        var postsData = #{ postsData };
    block content
        mixin summary(a,b,c)
            a(href='/') #{a}
            p= b
            p= c
            a(href='/') read more
            p

        each i in postsData
            +summary(i.title, i.date, i.content)