extend layout
include mixins/utils

block content
    script.
        var pythonData = #{pythonData};

    each i in pythonData
        +pythonList(i.title, i.id, i.tag)
    //block sidebar
    //    ul(class="menu", id="create")
    //        li
    //            a(href="/python/create") Create new post

