extend layout
head
    script(type='text/javascript', src="../public/js/util.js")
body
    .script
        var pythonData = #{ pythonData };
    block content
        mixin summary(a,b,d)
            text(class="tag")= d
            a(href='/article/'+b) #{a}
            //p= c
            //pre(class="prettyprint")
            //    each val in b
            //        span= val
            p

        each i in pythonData
            +summary(i.title, i.id, i.tag)
    block sidebar
        ul(class="menu", id="create")
            li
                a(href="/python/create") Create new post

