extend layout
include mixins/utils

block content
    script.
        var pythonData = #{pythonData};
        console.log(pythonData);

    each i in pythonData
        if i.title
            +pythonList(i.title, i.id, i.tag)

