extend layout
head
    script(type='text/javascript', src="../public/js/codemirror.js")
    script(type='text/javascript', src="../public/js/util.js")

body
    .script
        var pythonData = #{ pythonData };
    block content
        h4 #{pythonData.name}
        pre(class="prettyprint")
            //textarea#python-source
            each val in pythonData.code
                span= val
        p
            | #{pythonData.content}
    block sidebar
        ul(class="menu", id="create")
            li
                a(href="/python/create") Create new post

